

.container{
    background-color:orangered;
    height:400px;
    width:500px;
    z-index:5;
    position:relative;
}

.box{
    height:100px;
    width:200px;
    
}

.box span{
    position: absolute;
    top:40%;
    left:40%;
}

.box-1{
background-color:rgb(163, 203, 238);
position:sticky;
top:60px;
z-index:4;
}

.box-2{
    background-color:rgb(106, 156, 31);
    /* position:relative; */
    position:relative;
    top:30px;
    z-index:3;
}

.box-3{
    background-color:rgb(245, 168, 181);
    position: relative;
    z-index:2;
    
}